<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpinionTrade</title>
    <link rel="icon" href="https://t4.ftcdn.net/jpg/05/97/06/33/360_F_597063320_zWzNOwBIEDbsUPUj0NAtilvkGVMdGTPz.jpg"
         type="image/x-icon" />
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
    <script src="tabsbox.js" defer></script>
    <style>
        #strip {
            width: 100%;
            height: 8%;
            background-color: rgb(40, 40, 40);
            color: white;
            text-align: center;
            align-items: center;
            display: flex;
            justify-content: center;
            position: fixed;
            z-index: 1;
        }

        #page1 {

            height: auto;
            height: 90vh;
            width: 100%;
            background-color: rgb(255, 255, 255);
            animation: slide 1s 1;
        }

        @keyframes slide {
            0% {
                transform: translateY(-100%);
            }

            100% {
                transform: translateY(0%);
            }
        }

        #poll-page {
            padding-top: 7%;
            width: 100%;
            height: auto;
            display: grid;
            align-items: center;
            justify-content: center;
        }


        .poll {
            /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
            margin-bottom: 10%;
            display: grid;
            align-items: center;
            justify-content: space-evenly;
            width: 400px;
            height: 350px;
            background: #fff;
            border: 1px solid rgb(200, 200, 200);
            border-radius: 10px;
            box-shadow: 1px 1px 10px 10px rgba(66, 66, 66, 0.05);


        }

        .poll .question {
            padding: 20px 20px 10px;
            color: #111;
            font-size: 20px;
            border-bottom: 1px solid rgb(186, 186, 186);

        }

        .poll .answers {
            padding: 20px 20px 10px;
        }

        .poll .answers .answer {
            position: relative;
            width: 100%;
            height: 40px;
            padding: 0px 10px;
            line-height: 40px;
            color: black;
            margin-bottom: 10px;
            border: 1px solid #d4d4d4;
            border-radius: 10px;
            cursor: pointer;
            overflow: hidden;


        }

        .poll .answers .answer.selected {
            border: 2px solid #8f9f98;
        }

        .poll .answers .answer span.percentage-value {
            position: absolute;
            top: 50%;
            right: 0px;
            width: 40px;
            transform: translateY(-50%);
            color: #111;
            font-size: 15px;

        }

        /* .poll .answers .answer span.percentage-bar {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 40px;
            height: 100%;
            background: #ccd8f1;
            z-index: 1;
            transition: width 300ms ease-in-out;

        } */

        .poll .answers .answer span.percentage-bar {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 0;
            /* Initially hidden */
            height: 100%;
            background: #ccd8f14b;
            /* z-index: -1; */
            transition: width 300ms ease-in-out, opacity 300ms ease-in-out;
            opacity: 0;
            /* Initially fully transparent */
        }

        .poll .answers .answer.selected span.percentage-bar {
            opacity: 1;

            /* Show the percentage bar when answer is selected */
        }

        /* .poll .answers .answer span.percentage-bar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 40px;
    height: 100%;
    background: #ccd8f1;
    z-index: -1;
    transition: width 300ms ease-in-out;

} */
    </style>

</head>

<body>
    <div id="main">
         <div id="header">
            <div id="header1">
                <div id="logo"><img
                        src="https://t4.ftcdn.net/jpg/05/97/06/33/360_F_597063320_zWzNOwBIEDbsUPUj0NAtilvkGVMdGTPz.jpg"
                        width="100%" height="100%" style="object-fit: cover;"></div>
                <div class="texts">
                    <a href="/account">
                        <p style="color: rgb(45, 45, 45);">Account</p>
                    </a>
                </div>
                <div class="texts">
                    <a href="/account?section=aboutus">
                        <p style="color: rgb(41, 41, 41); ">About Us</p>
                    </a>
                </div>
                <div class="texts">
                    <a href="/allevent">
                        <p style="color: rgb(45, 45, 45);">Poll</p>
                    </a>
                </div>
                <div class="texts">

                    <a href="/customer">
                        <p style="color: rgb(45, 45, 45);">Customers</p>
                    </a>

                </div>

                <div class="texts">
                    <a href="/leaderboard">
                        <p
                            style="display: flex ; align-items: center; justify-content: center; color: rgb(45, 45, 45);">
                            Leaderboard <img src="https://cdn-icons-png.flaticon.com/128/7799/7799179.png"
                                style=" width: 27px; padding-left: 5px; "></p>
                    </a>
                </div>
                <div id="contactde">
                    {{!-- <p style=text-align:center;><u>Contact Us</u> </p>
                    <p>9869-33-0911</p> --}}
 
                        <a href="/account?section=contactus" style="text-align: center;">
                            <p style="color: rgb(41, 41, 41); ">Contact Us</p>
                        </a>
           
                    <p>9869-33-0911</p>
                </div>
            </div>
            <div id="header2">
                {{!-- <div class="icon"><i class="ri-search-line"> </i></div> --}}
                <div class="icon"><i class="ri-global-line"> </i></div>
                <div id="login">
                    <form action="/logout" method="post">
                        <button type="submit"
                            style="border-radius: 55px; padding: 10px; color: white; background: #000; width: 80px; cursor: pointer; ">
                            <i class="ri-user-3-fill"></i>Logout</button>

                    </form>
                    {{!-- <a href="/login_signup">
                        <p>Logout</p>
                    </a> --}}
                </div>
                <div id="try">
                    <p>OpinionTrade</p>
                </div>
            </div>
        </div>

        <div id="fakeheader"></div>
        <div id="page1">
            <div id="strip">


                <div class="wrapper">
                    <div class="icons"><i id="left" class="ri-arrow-left-wide-line"></i></div>
                    <ul class="tabs-box">
                        <li class="tab"><a href="/allevent">Allevent</a></li>
                        <li class="tab"><a href="/cricket">Cricket</a></li>
                        <li class="tab"><a href="/tech">Technology</a></li>
                        <li class="tab"><a href="/news">News</a></li>
                        <li class="tab"><a href="/sustain">Sustainability</a></li>
                        <li class="tab"><a href="/health">Health&Wellness</a></li>
                        <li class="tab"><a href="/education">Education</a></li>
                        <li class="tab"><a href="/entertainment">Entertainment</a></li>
                        <li class="tab"><a href="/sports">Sports</a></li>
                        <li class="tab"><a href="/consumer">Consumer Preferences</a></li>
                        <li class="tab"><a href="/gadgets">Gadgets</a></li>
                        <li class="tab"><a href="/tour">Tour&Travel</a></li>
                        <li class="tab"><a href="/economy">Finance&Economy</a></li>
                        <li class="tab"><a href="/sharemarket">Share Market</a></li>
                        <li class="tab"><a href="/gaming">Gaming&Esports</a></li>
                        <li class="tab"><a href="/food">Food&Beverages</a></li>
                    </ul>
                    <div class="icons"><i id="right" class="ri-arrow-right-wide-fill"></i></div>
                </div>

            </div>


            <div id="poll-page">
                <div class="poll">
                    <div class="question"></div>
                    <div class="answers"></div>
                </div>
            </div>

        </div>


    </div>
    {{!-- <script>
        let polls = [
            {
                question: "How often do you try new cuisines or food trends?",
                answers: ["Often", "Occasionally", "Rarely", "Never"],
                pollCount: 0,
                answerWeight: [0, 0, 0, 0],
                selectedAnswer: -1,
            },
            {
                question: "Do you prefer dining out or cooking at home?",
                answers: ["Dining out", "Cooking at home", "Both equally", "Neither"],
                pollCount: 0,
                answerWeight: [0, 0, 0, 0],
                selectedAnswer: -1,
            },
            {
                question: "How likely are you to follow a specific diet (e.g., keto, paleo, vegan)?",
                answers: ["Very likely", "Somewhat likely", "Not likely", "Never"],
                pollCount: 0,
                answerWeight: [0, 0, 0, 0],
                selectedAnswer: -1,
            },
            {
                question: "How often do you order food delivery or takeout?",
                answers: ["Often", "Occasionally", "Rarely", "Never"],
                pollCount: 0,
                answerWeight: [0, 0, 0, 0],
                selectedAnswer: -1,
            },
            {
                question: "How important are organic or locally sourced ingredients in your food choices?",
                answers: ["Very important", "Somewhat important", "Not important", "I don’t consider this"],
                pollCount: 0,
                answerWeight: [0, 0, 0, 0],
                selectedAnswer: -1,
            },
            {
                question: "How frequently do you try new recipes at home?",
                answers: ["Often", "Occasionally", "Rarely", "Never"],
                pollCount: 0,
                answerWeight: [0, 0, 0, 0],
                selectedAnswer: -1,
            },
            {
                question: "How likely are you to follow food influencers or blogs for recommendations?",
                answers: ["Very likely", "Somewhat likely", "Not likely", "Never"],
                pollCount: 0,
                answerWeight: [0, 0, 0, 0],
                selectedAnswer: -1,
            },
            {
                question: "How often do you visit food festivals or markets?",
                answers: ["Often", "Occasionally", "Rarely", "Never"],
                pollCount: 0,
                answerWeight: [0, 0, 0, 0],
                selectedAnswer: -1,
            },
            {
                question: "How important is sustainability in your food purchases (e.g., eco-friendly packaging)?",
                answers: ["Very important", "Somewhat important", "Not important", "I don’t consider sustainability"],
                pollCount: 0,
                answerWeight: [0, 0, 0, 0],
                selectedAnswer: -1,
            },
            {
                question: "How frequently do you use meal kits (e.g., HelloFresh, Blue Apron)?",
                answers: ["Often", "Occasionally", "Rarely", "Never"],
                pollCount: 0,
                answerWeight: [0, 0, 0, 0],
                selectedAnswer: -1,
            },
            {
                question: "How likely are you to try plant-based or alternative protein products?",
                answers: ["Very likely", "Somewhat likely", "Not likely", "Never"],
                pollCount: 0,
                answerWeight: [0, 0, 0, 0],
                selectedAnswer: -1,
            },
            {
                question: "How important is food presentation when dining out?",
                answers: ["Very important", "Somewhat important", "Not important", "I don’t care about presentation"],
                pollCount: 0,
                answerWeight: [0, 0, 0, 0],
                selectedAnswer: -1,
            },
            {
                question: "How often do you try international or exotic dishes?",
                answers: ["Often", "Occasionally", "Rarely", "Never"],
                pollCount: 0,
                answerWeight: [0, 0, 0, 0],
                selectedAnswer: -1,
            },
            {
                question: "How likely are you to subscribe to a monthly snack or beverage box?",
                answers: ["Very likely", "Somewhat likely", "Not likely", "Never"],
                pollCount: 0,
                answerWeight: [0, 0, 0, 0],
                selectedAnswer: -1,
            },
            {
                question: "How frequently do you use food delivery apps (e.g., UberEats, DoorDash)?",
                answers: ["Often", "Occasionally", "Rarely", "Never"],
                pollCount: 0,
                answerWeight: [0, 0, 0, 0],
                selectedAnswer: -1,
            },
            {
                question: "How important is nutritional content in your food choices?",
                answers: ["Very important", "Somewhat important", "Not important", "I don’t consider nutrition"],
                pollCount: 0,
                answerWeight: [0, 0, 0, 0],
                selectedAnswer: -1,
            },
            {
                question: "How often do you cook for special dietary requirements (e.g., gluten-free, lactose-free)?",
                answers: ["Often", "Occasionally", "Rarely", "Never"],
                pollCount: 0,
                answerWeight: [0, 0, 0, 0],
                selectedAnswer: -1,
            },
            {
                question: "How likely are you to try fusion cuisine (mix of different cultural dishes)?",
                answers: ["Very likely", "Somewhat likely", "Not likely", "Never"],
                pollCount: 0,
                answerWeight: [0, 0, 0, 0],
                selectedAnswer: -1,
            },
            {
                question: "How frequently do you follow food safety guidelines when cooking?",
                answers: ["Always", "Often", "Occasionally", "Never"],
                pollCount: 0,
                answerWeight: [0, 0, 0, 0],
                selectedAnswer: -1,
            },
            {
                question: "How important is farm-to-table dining for your eating preferences?",
                answers: ["Very important", "Somewhat important", "Not important", "I don’t care about farm-to-table"],
                pollCount: 0,
                answerWeight: [0, 0, 0, 0],
                selectedAnswer: -1,
            },
            {
                question: "How often do you drink specialty coffee (e.g., lattes, cold brews) or artisanal teas?",
                answers: ["Often", "Occasionally", "Rarely", "Never"],
                pollCount: 0,
                answerWeight: [0, 0, 0, 0],
                selectedAnswer: -1,
            },
            {
                question: "How likely are you to explore food and drink pairing (e.g., wine and cheese)?",
                answers: ["Very likely", "Somewhat likely", "Not likely", "Never"],
                pollCount: 0,
                answerWeight: [0, 0, 0, 0],
                selectedAnswer: -1,
            },
            {
                question: "How frequently do you try new beverages, like kombucha or craft sodas?",
                answers: ["Often", "Occasionally", "Rarely", "Never"],
                pollCount: 0,
                answerWeight: [0, 0, 0, 0],
                selectedAnswer: -1,
            },
            {
                question: "How important is food photography when sharing meals on social media?",
                answers: ["Very important", "Somewhat important", "Not important", "I don’t post food photos"],
                pollCount: 0,
                answerWeight: [0, 0, 0, 0],
                selectedAnswer: -1,
            },
            {
                question: "How often do you explore local street food when traveling?",
                answers: ["Often", "Occasionally", "Rarely", "Never"],
                pollCount: 0,
                answerWeight: [0, 0, 0, 0],
                selectedAnswer: -1,
            },
            {
                question: "How likely are you to try meal prepping for the week?",
                answers: ["Very likely", "Somewhat likely", "Not likely", "Never"],
                pollCount: 0,
                answerWeight: [0, 0, 0, 0],
                selectedAnswer: -1,
            },
            {
                question: "How frequently do you explore new snack trends (e.g., protein bars, energy balls)?",
                answers: ["Often", "Occasionally", "Rarely", "Never"],
                pollCount: 0,
                answerWeight: [0, 0, 0, 0],
                selectedAnswer: -1,
            },
            {
                question: "How important is reducing food waste in your daily habits?",
                answers: ["Very important", "Somewhat important", "Not important", "I don’t focus on reducing waste"],
                pollCount: 0,
                answerWeight: [0, 0, 0, 0],
                selectedAnswer: -1,
            },
            {
                question: "How often do you use spices or condiments from different cultures in your cooking?",
                answers: ["Often", "Occasionally", "Rarely", "Never"],
                pollCount: 0,
                answerWeight: [0, 0, 0, 0],
                selectedAnswer: -1,
            },
            {
                question: "How likely are you to participate in cooking challenges or competitions (e.g., baking, grilling)?",
                answers: ["Very likely", "Somewhat likely", "Not likely", "Never"],
                pollCount: 0,
                answerWeight: [0, 0, 0, 0],
                selectedAnswer: -1,
            }
        ];


        let pollContainer = document.getElementById('poll-page');


         // Shuffle function to randomize the order of polls
        function shuffleArray(array) {
            for (let i = array.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [array[i], array[j]] = [array[j], array[i]];
            }
        }

        function renderPoll(poll, index) {
            let pollHTML = `
            <div class="poll" id="poll-${index}">
                <div class="question">${poll.question}</div>
                <div class="answers">
                    ${poll.answers.map((answer, i) => `
                        <div class="answer" onclick="markAnswer(${index}, ${i})">
                            ${answer}
                            <span class="percentage-bar"></span>
                            <span class="percentage-value"></span>
                        </div>
                    `).join("")}
                </div>
            </div>
        `;
            return pollHTML;
        }

        function renderAllPolls() {
            pollContainer.innerHTML = polls.map((poll, index) => renderPoll(poll, index)).join("");
        }

        // Shuffle the polls before rendering
        shuffleArray(polls);
        renderAllPolls();


        function markAnswer(pollIndex, answerIndex) {
            let poll = polls[pollIndex];
            poll.selectedAnswer = answerIndex;


            try {
                document.querySelector(`#poll-${pollIndex} .answer.selected`)?.classList.remove("selected");
            } catch (msg) { }


            document.querySelectorAll(`#poll-${pollIndex} .answer`)[answerIndex].classList.add("selected");

            showResults(pollIndex);
        }


        function showResults(pollIndex) {
            let poll = polls[pollIndex];
            let answers = document.querySelectorAll(`#poll-${pollIndex} .answer`);
            for (let i = 0; i < answers.length; i++) {
                let percentage = 0;
                if (i === poll.selectedAnswer) {
                    percentage = Math.round((poll.answerWeight[i] + 1) * 100 / (poll.pollCount + 1));
                } else {
                    percentage = Math.round(poll.answerWeight[i] * 100 / (poll.pollCount + 1));
                }

                let percentageBar = answers[i].querySelector(".percentage-bar");
                percentageBar.style.width = percentage + "%";
                percentageBar.style.opacity = 1;
                answers[i].querySelector(".percentage-value").innerText = percentage + "%";
            }
        }

        function savePollToDB(poll, category) {
            fetch('/save-poll', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    ...poll,
                    category, // Pass category to backend
                }),
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        console.log('Poll saved:', poll.question);
                    } else {
                        console.error('Error saving poll:', data.message);
                    }
                })
                .catch(error => console.error('Error:', error));
        }


        polls.forEach(poll => {
            savePollToDB({
                question: poll.question,
                answers: poll.answers,
                answerWeight: poll.answerWeight,
                pollCount: poll.pollCount,
            }, 'food'); // Specify category
        });

    </script> --}}





        <script>
        const userId = "{{userId}}"; // Embedding userId from the server
        let polls = [];
        let pollContainer = document.getElementById('poll-page');

        // Fetch polls from the backend
        function fetchPolls() {
            fetch('/polls/food')
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        polls = data.polls;
                        renderAllPolls();
                    } else {
                        console.error('Failed to fetch polls:', data.message);
                    }
                })
                .catch(error => console.error('Error:', error));
        }

        // Shuffle polls array to randomize order
        function shuffleArray(array) {
            for (let i = array.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [array[i], array[j]] = [array[j], array[i]];
            }
        }


        function calculatePercentage(answerWeight, pollCount) {
            if (pollCount === 0) {
                return 0; // Avoid division by zero
            }
            return Math.round((answerWeight * 100) / pollCount);
        }


        // Render a single poll
        function renderPoll(poll, index) {
            let pollHTML = `
        <div class="poll" id="poll-${index}">
            <div class="question">${poll.question}</div>
            <div class="answers">
                ${poll.answers.map((answer, i) => `
                    <div class="answer ${poll.selectedAnswer === i ? 'selected' : ''} ${poll.selectedAnswer !== -1 ? 'disabled' : ''}" 
                        onclick="${poll.selectedAnswer === -1 ? `markAnswer(${index}, ${i})` : ''}">
                        ${answer}
                        ${poll.selectedAnswer !== -1
                    ? `<span class="percentage-bar" style="width: ${calculatePercentage(poll.answerWeights[i], poll.pollCount)}%; opacity: 1;"></span>
                               <span class="percentage-value">${calculatePercentage(poll.answerWeights[i], poll.pollCount)}%</span>`
                    : `<span class="percentage-bar" style="width: 0%; opacity: 0;"></span>
                               <span class="percentage-value" style="opacity: 0;"></span>`
                }
                    </div>
                `).join("")}
            </div>
        </div>
    `;
            return pollHTML;
        }


        // Render all polls and check user answers
        function renderAllPolls() {
            shuffleArray(polls);
            fetch(`/user-answered-polls/${userId}`)
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        const userPolls = data.answeredPolls;
                        pollContainer.innerHTML = '';

                        polls.forEach((poll, index) => {
                            const userPoll = userPolls.find(p => p.pollId === poll._id);
                            poll.selectedAnswer = userPoll ? userPoll.selectedAnswer : -1;
                            pollContainer.innerHTML += renderPoll(poll, index);
                        });
                    } else {
                        console.error('Error fetching user polls:', data.message);
                    }
                })
                .catch(error => console.error('Error:', error));
        }

        // Handle poll answer selection
        function markAnswer(pollIndex, answerIndex) {
            let poll = polls[pollIndex];

            // Prevent users from selecting an answer if they've already answered this poll
            if (poll.selectedAnswer !== -1) {
                return; // Exit if the user has already answered this poll
            }

            // Update the selected answer and poll statistics
            poll.answerWeights[answerIndex] += 1;
            poll.pollCount += 1;
            poll.selectedAnswer = answerIndex;


            try {
                document.querySelector(`#poll-${pollIndex} .answer.selected`)?.classList.remove("selected");
            } catch (msg) { }


            document.querySelectorAll(`#poll-${pollIndex} .answer`)[answerIndex].classList.add("selected");


            // Show the updated results immediately after selecting the answer
            showResults(pollIndex);

            // Save the selected answer to the database
            saveUserPollAnswer(poll._id, answerIndex);


            // Disable further answer selection for this poll
            disablePollSelection(pollIndex);
        }


        // Disable further selection for a poll
        function disablePollSelection(pollIndex) {
            const answers = document.querySelectorAll(`#poll-${pollIndex} .answer`);
            answers.forEach(answer => answer.classList.add('disabled'));
        }

        // Save user's selected poll answer to the backend
        function saveUserPollAnswer(pollId, selectedAnswer) {
            const category = 'food'; // Replace this with the appropriate category from your application logic
            fetch(`/save-user-answer/${category}`, {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ userId, pollId, selectedAnswer }),
            })
                .then(response => response.json())
                .then(data => {
                    if (!data.success) {
                        console.error('Error saving user answer:', data.message);
                    }
                })
                .catch(error => console.error('Error:', error));
        }

        // Display poll results
        function showResults(pollIndex) {
            let poll = polls[pollIndex];
            let answers = document.querySelectorAll(`#poll-${pollIndex} .answer`);

            for (let i = 0; i < answers.length; i++) {
                // If the user has answered the poll, show the percentage bar
                let percentage = calculatePercentage(poll.answerWeights[i], poll.pollCount);

                // Display the percentage bar and value for each option
                let percentageBar = answers[i].querySelector(".percentage-bar");
                if (percentageBar) {
                    percentageBar.style.width = percentage + "%";
                    percentageBar.style.opacity = 1; // Ensure the bar is visible
                }

                let percentageValue = answers[i].querySelector(".percentage-value");
                if (percentageValue) {
                    percentageValue.innerText = percentage + "%";
                    percentageValue.style.opacity = 1; // Ensure the value is visible
                }
            }
        }





        // Fetch polls when the page loads
        document.addEventListener("DOMContentLoaded", fetchPolls);
    </script>

</body>

</html>
